*.log

#PYTHON
.pytest_cache/
__pycache__/


# HASKELL
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.aux
*.hp
.stack-work/

# ELIXIR
.elixir_ls/
*.beam

# Build directories
build/
dist/
target/

# GRADLE BUILDS
.gradle/

# SCALA Language Server
.metals/
.bloop/
project/metals.sbt
.nrepl-port
.lein-repl-history
